@import 'tailwindcss';

:root {
  --main-color: #6aa84f;
  --main-darker: #517c3f;
  --main-lighter: #8fd570;
  --main-subtle: #b9ff9b;

  /* State Colors */
  --error: #ff3838;
  --warning: #ffc000;
  --info: #0063f7;
  --success: #00c270;

  /* Dark Colors */
  --dark-1: #3a3a3c;
  --dark-2: #6b7588;
  --dark-3: #8f90a6;
  --dark-4: #c7c9d9;

  /* Light Colors */
  --light-1: #dde5e9;
  --light-2: #ebebf0;
  --light-3: #f2f2f5;
  --light-4: #fafafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Force Plotly Modebar to Left for Dashboard */
.dashboard-modebar-left .modebar {
  left: 0 !important;
  right: auto !important;
}